
/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Handlee', cursive, sans-serif;
    font-size: 16px;
    box-shadow: inset 0 0 30px rgba(15, 15, 15, 0.79), 
    inset 20px 0 30px rgb(0, 26, 255), 
    inset -20px 0 80px #031c1c, 
    inset 20px 0 250px rgb(0, 26, 255), 
    inset -20px 0 260px #12f7f7, 
    inset 0 0 10px rgba(0, 244, 244, 0.79), 
    inset -10px 0 10px rgb(0, 26, 255), 
    inset 10px 0 10px #02ffff;
}

/*LIST ITEMS*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
}

.box {
    width: 450px;
    height: 350px;
    background: #000000;
    border-radius: 20px;
    box-shadow: 0 10px 15 px rgba(0, 0, 0, 0.363);
}

.box ul li {
    position: relative;
    width: 300px;
    padding: 15px;
    margin: 12px;
    color: #fff;
    background: #151515;
    list-style: none;
    cursor: pointer;
    transition: all .4s;
}

li:hover {
    transform: translate(20px);
}

li::before {
    width: 20px;
    height: 100%;
    top: 0;
    left: -30px;
}

li::after {
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

li::before, li::after {
    position: absolute;
    content:"";
    background: #151515;
    transition: all .4s;
}

li:hover::before, li:hover::after {
    background: #00ffff;
    box-shadow: inset 0 0 30px rgba(0, 255, 255, 0.79),
    inset 20px 0 30px rgb(0, 26, 255),
    inset -20px 0 80px #0ff,
    inset 20px 0 250px rgb(0, 26, 255),
    inset -20px 0 260px #0ff,
    0 0 10px rgba(0, 255, 255, 0.79),
    -10px 0 10px rgb(0, 26, 255),
    10px 0 10px #0ff;
}